html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

body {
  position: relative;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  position: absolute;
  transition: all 200ms linear;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  bottom: 1em;
  right: 40%;
}

.polaroid:first-child {
  transform: rotate(-10deg);
  right: 54%;
  top: 105px;
  z-index: 1;
}

.polaroid:nth-last-child(2) {
  transform: rotate(5deg);
  right: 44%;
  top: 150px;
  z-index: 3;
}

.polaroid:last-child {
  position: absolute;
  transform: rotate(30deg);
  right: 33%;
  top: 95px;
  z-index: 2;
}

.polaroid:hover {
  transform: rotate(0deg);
  z-index: 10;
  box-shadow: 1px 4px 20px rgba(0, 0, 0, .5);
}
